@model RelatorioModel
@{
    ViewBag.Title = "Relatorio de Jogos";
}

<h2 class="view-title text-center">Relatorio de Jogos</h2>

<table class="table table-background">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th colspan="2">Selo</th>
        </tr>
    <thead>
    <tfoot>
        <tr>
            <td colspan="5">Quantidade de Jogos: @Model.QuantidadeTotal</td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var jogo in @Model.ListaJogos)
        {
            <tr>
                <td>@jogo.Nome</td>
                <td>@jogo.Categoria</td>
                <td>@jogo.Preco.ToString("c")</td>
                <td>@jogo.Selo</td>
                <td align="right">@Html.ActionLink("Detalhes", "JogoDetalhes", new { id = jogo.Id })</td>
            </tr>
        }
    </tbody>
</table>
