@model RelatorioModel
@{
    ViewBag.Title = "Relatorio de Jogos";
}

<h2 class="text-center">Relatorio de Jogos</h2>

<table class="table table-background">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Selo</th>
        </tr>
    <thead>
    <tbody>
        @foreach (var jogo in @Model.ListaJogos)
        {
            <tr>
                <td>@jogo.Id</td>
                <td>@jogo.Nome</td>
                <td>@jogo.Categoria</td>
                <td>@jogo.Preco.ToString("c")</td>
                <td>@jogo.Selo</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Quantidade de Jogos: @Model.QuantidadeTotal</td>
        </tr>
    </tfoot>
</table>
