@model JogoDetalhesModel
@{
    ViewBag.Title = @Model.Nome;
}

<h2 class="text-center">Detalhes do Jogo</h2>

<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>
            <td width="340px" height="240px" rowspan="6" align="center">
                <img class="table-img" src="@Model.Imagem" alt="@Model.Descricao" />
            </td>
        </tr>
        <tr>
            <th class="table-text-right">Nome:</th>
            <td>@Model.Nome</td>
        </tr>
        <tr>
            <th class="table-text-right">Descrição:</th>
            <td>@Model.Descricao</td>
        </tr>
        <tr>
            <th class="table-text-right">Categoria:</th>
            <td>@Model.Categoria</td>
        </tr>
        <tr>
            <th class="table-text-right">Preço:</th>
            <td>@Model.Preco.ToString("c")</td>
        </tr>
        <tr>
            <th class="table-text-right">Selo:</th>
            <td>@Model.Selo</td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                <iframe width="560" height="315" src="@Model.Video" frameborder="0" allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>
