@model Locadora.Web.MVC.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header-shadow">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Locadora CWI Crescer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="loginLabel" href="#">
                            Login
                            <span class="caret"></span>
                        </a>
                    </li>
                </ul>

                <div class="login-menu-content hidden">
                    <span class="glyphicon glyphicon-triangle-top" id="triangle"></span>
                    @using (@Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true);

                        <div class="login-menu-input">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", placeholder = "E-mail" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="login-menu-input">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", placeholder = "Senha" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>

                        <div class="login-menu-input">
                            <input type="submit" class="btn btn-primary btn-sm btn-block" value="Login" />
                        </div>

                        <span class="error-mesage">
                            @Html.ValidationMessage("INVALID_LOGIN")
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="background">
        <div class="container body-content">

        </div>

        <footer class="footer text-center">
            <div class="buttons-container">
                <a class="github-button" href="https://github.com/iagodahlem/crescer-2015-2" data-icon="octicon-star" data-count-href="/iagodahlem/crescer-2015-2/stargazers" data-count-api="/repos/iagodahlem/crescer-2015-2#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star iagodahlem/crescer-2015-2 on GitHub">Star</a>
                <a class="github-button" href="https://github.com/iagodahlem/crescer-2015-2/fork" data-icon="octicon-repo-forked" data-count-href="/iagodahlem/crescer-2015-2/network" data-count-api="/repos/iagodahlem/crescer-2015-2#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork iagodahlem/crescer-2015-2 on GitHub">Fork</a>
            </div>
            <div class="footer-copyright">
                <p>
                    Feito com <span class="heart">♥</span> por <a href="https://github.com/iagodahlem" target="_blank">Iago Dahlem Lorensini</a>
                </p>
            </div>
        </footer>

    </div>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

    <script>
        $(function () {
            $('#loginLabel').click(function () {
                if ($('.login-menu-content').hasClass('hidden')) {
                    $('.login-menu-content').removeClass('hidden');
                }
                else {
                    $('.login-menu-content').addClass('hidden');
                }
            });
        });
    </script>
</body>
</html>
