
@{
    ViewBag.Title = "Lista de Jogos";
}

<h2 class="text-center">Lista de Jogos</h2>

@{ foreach (var item in collection)
    {

    }}

<!--
<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td>Nome</td>
            <td>Preço</td>
            <td>Categoria</td>
        </tr>
    <thead>
    <tbody>
        @{foreach (var jogo in @ViewBag.ListaJogos)
            <tr>
                <td>@jogo.Id</td>
                <td>@jogo.Nome</td>
                <td>@jogo.Preco</td>
                <td>@jogo.Categoria</td>
            </tr>
        }
    </tbody>
</table>
-->

